/* You can add global styles to this file, and also import other style files */
/* Import the fonts directly from Google */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Righteous&family=Nunito:wght@400;600&display=swap');

@font-face {
  font-family: 'PokemonSolid';
  /* Make sure this path matches exactly where you put the file! */
  src: url('/assets/fonts/Pokemon Solid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html { scroll-behavior: smooth; }
